/* index.css */       /* yvop fix */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));     /* To make sure that dark mode works with all tailwind 4 versions. */

/* Tailwind configuration */
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-lg: 1024px;

  --font-open-sans: "Open Sans Variable", sans-serif;

  /* Webshop brand colors  */
  /* My logotype butterfly color rgb(7 130 189) */
  --color-brand: rgb(7 130 189);            
  --color-brand-dark: rgb(6 105 153);       
  --color-brand-light: rgb(230 243 249);    

  /* Link Tailwind names to CSS variables with the same name */
  /* Background colors */
  --color-bg-main: var(--bg-main);          
  --color-bg-card: var(--bg-card);          
  
  /* Text colors */
  --color-text-main: var(--text-main);        
  --color-text-muted: var(--text-muted);  

}

/* CSS variables for light mode (default) */
:root {
  --bg-main: rgb(248 250 252);
  --bg-card: rgb(255 255 255);
  --text-main: rgb(15 23 42);
  --text-muted: rgb(71 85 105);
}

/* CSS variables for dark mode  */
.dark, [data-theme="dark"] {
  --bg-main: rgb(16 36 70);
  --bg-card: rgb(28 54 95);
  --text-main: rgb(241 245 249);
  --text-muted: rgb(148 163 184);
}

/* CSS global settings */
:root {
  font-family: var(--font-open-sans);
  font-size: 16px;
}


body {
  margin: 0 auto;
  font-family: var(--font-open-sans);
  background-color: var(--bg-main); 
  color: var(--text-main);
  transition: background-color 0.3s, color 0.3s;      /* toggle light/dark mode softly */
                                                      /* To render text smooth by softening the edges of the letters */
  -webkit-font-smoothing: antialiased;                /* For Chrome, Safari, Edge (WebKit/Blink) */
  -moz-osx-font-smoothing: grayscale;                 /* For Firefox on Mac */

  
}

/* Stops images from becoming larger than screen width */
img {                   
  max-width: 100%;
  height: auto;
  display: block;

}

/* ----- NAVIGATION ----- */
.nav-sticky{
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* hamburgermenu */
.bar {
  display: block;
  width: 24px;
  height: 2px;
  background-color: currentColor;
  transition: all 0.3s ease-in-out;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
